@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.card {
    position: relative;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 40px;
    display: grid;
    gap: 40px;
    width: 633px;
    min-height: 291px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
        transform: translateY(-4px);
        box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
    }
}

.top {
    padding: 24px 24px 0;
    display: flex;
    gap: 32px;
    align-items: flex-start;
}

.imagePlaceholder {
    width: 250px;
    height: 155px;
    background: #E2E8F0;
    border-radius: 32px;
    flex-shrink: 0;
}

.badges {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1;
}

.badge {
    position: relative;
    //border: 1px solid rgba(125, 211, 252, 0.3);
    border-bottom: 2px solid #818CF8;
    border-radius: 20px;
    padding: 12px 24px;
    font-size: 1.125rem;
    color: $color-black;
    text-align: center;
    background: white;
    width: 100%;
    max-width: 240px;
    align-self: flex-end;
}

.titleWrapper {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 8px;
    margin-left: 24px;
}

.dot {
    width: 12px;
    height: 12px;
    background-color: #FB7185;
    border-radius: 50%;
}

.title {
    font-size: 1.75rem;
    font-weight: 500;
    color: $color-black;
    margin: 0;
}

.footer {
    display: flex;;
    justify-content: flex-end;
    margin-top: 12px;
}

.actionLink {
    position: absolute;
    bottom: 3px;
    left: 3px;
    width: 78px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.2s ease;

    &:hover {
        transform: scale(1.05);
    }

    svg {
        display: block;
        width: 100%;
        height: 100%;
    }
}

.submitBtn {
    flex: 1;
    max-width: 316px;
    height: 55px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 36px ;
    background-color: #1E293B ;
}