@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.page {
    @include container;
    padding: 2rem 0;
    min-height: 100vh;
}


.header {
    margin-bottom: 3rem;
    text-align: center;
}

.title {
    font-size: 2.25rem;
    font-weight: 900;
    color: $color-text;
    margin-bottom: 0.5rem;
}

.emptyState {
    text-align: center;
    padding: 5rem 0;
    background-color: $color-white;
    border-radius: $radius-2xl;
    box-shadow: $shadow-sm;
    border: 1px solid $color-border;

    p {
        color: $color-gray;
        font-size: 1.125rem;
    }
}

.grid {
    display: grid;
    grid-template-cols: 1fr;
    gap: 2rem;

    @media (min-width: 640px) {
        grid-template-cols: repeat(2, 1fr);
    }

    @media (min-width: 1024px) {
        grid-template-cols: repeat(3, 1fr);
    }

    @media (min-width: 1280px) {
        grid-template-cols: repeat(4, 1fr);
    }
}