@use "../styles/variables" as *;
@use "../styles/mixins" as *;

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: $color-bg;
    color: #000;
    font-family: $font-rubik;
    font-size: var(--font-size-s, 20px);
    font-weight: 400;
    line-height: 24px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    color: #22262F;
    text-align: center;
    font-family: $font-roboto;
    font-size: var(--font-size-3xl, 56px);
    font-style: normal;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: 2px;
    margin: 0;
}

h2 {
    color: #000;
    font-family: $font-roboto-flex;
    font-size: var(--font-size-2xl, 48px);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.96px;
    margin: 0;
}

h3 {
    font-family: $font-rubik;
    font-size: 2.375rem;
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    color: #22262F;
    text-align: center;
    font-family: $font-rubik;
    font-size: var(--font-size-xs, 18px);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

[role="button"],
.cursor-pointer {
    cursor: pointer !important;
}

.container {
    @include container;
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}