services:
  backend:
    build:
      context: ./backend
      target: prod
    container_name: django_backend
    restart: always
    ports:
      - "8000:8000"

  frontend:
    build:
      context: ./frontend
      target: prod
    container_name: frontend_prod
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - backend
