@use "variables" as *;

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin transition-standard {
    transition: all 0.3s ease;
}

@mixin container {
    width: 100%;
    max-width: $container-max-width;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
}

@mixin subtitle{
    font-family: $font-rubik;
    font-size: 32px;
    line-height: 36px;
    color: #2D2C2C;
    margin: 0;
}

@mixin inner-container {
    padding: 0 10rem;
}



@mixin button-reset {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    font: inherit;
    color: inherit;
    outline: none;
}

