// Colors
$color-white: #ffffff;
$color-black: #000000;
$color-black-second: #231F20;
$color-gray: #D9D9D9;

$color-blue: #48EEFF;
$color-accent: #FF7262;



// Branding
$color-primary: $color-black;
$color-bg: $color-white;
$color-text: $color-black-second;
$color-border: $color-gray;

// Typography
$font-roboto: var(--font-roboto), sans-serif;
$font-rubik: var(--font-rubik), sans-serif;

// Spacing & Layout
$container-max-width: 1440px;
$header-height: 72px;
$radius-xl: 12px;
$radius-2xl: 24px;
$radius-full: 9999px;

// Shadows
$shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
$shadow-lg: 0 8px 30px rgba(0, 0, 0, 0.04);