@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.achievmentsSection {
    padding: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.infoContainer {
    @include container;
    padding: 2rem 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 4rem;
}

.statsColumn {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    flex: 1;
    max-width: 450px;
}

.statsRow {
    display: flex;
    gap: 4rem;
}

.statItem {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;

    &.accent {
        .statCount {
            color: $color-accent;
        }
    }
}

.statCount {
    font-family: $font-roboto-flex;
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 1.1;
    color: $color-black-second;
}

.statText {
    font-size: 1.125rem;
    line-height: 1.4;
    color: $color-black;
    margin: 0;
}

.rightSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 600px;
}

.communityBlock {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
    padding-left: 2rem;
}

.stars {
    flex-shrink: 0;
    width: 40px;
    height: 26px;
    padding-top: 0.5rem;
}

.communityText {
    font-family: $font-rubik;
    font-size: 1.5rem; // 24px
    line-height: 1.2;
    color: $color-black-second;
    width: 300px;
    margin: 0;
}

.videoWrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 16/7;
    border-radius: 999px;
    overflow: hidden;
    cursor: pointer;
    background: linear-gradient(90deg, #231F20 0%, #9F9F9F 100%);
    box-shadow: $shadow-lg;

    &:hover {
        .playOverlay {
            transform: translate(-50%, -50%) scale(1.1);
        }
    }
}

.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.playOverlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.2s ease;
    z-index: 2;
    pointer-events: none;
}