@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.hero {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.heroContent {
    @include container;
    padding: 0 82px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    @media (min-width: 1024px) {
        flex-direction: row;
        text-align: left;
        align-items: center;
        gap: 4rem;
    }
}

.heroContentLeft {
    flex: 1;

}

.heroTitle {
    font-family: $font-rubik;
    font-size: 38px;
    line-height: 44px;
    font-weight: 400;
    color: #2D2C2C;
    margin: 0;
    margin-bottom: 38px;
    margin-top: 0;
    max-width: 236px;

    .heroTitleHighlight {
        color: $color-accent;
        display: block;
    }
}

.heroDescription {
    font-size: 20px;
    line-height: 24px;
    color: #5B5A5A;
    font-weight: 400;
    margin-bottom: 26px;
    max-width: 466px;

    .heroDescriptionHighlight {
        color: $color-accent;
    }
}

.location {
    display: flex;
    align-items: center;
    gap: 13px;
    padding-left: 4px;
    font-weight: 400;
    font-size: 24px;
    color: $color-black-second;

    .locationIcon {
        color: $color-black;
    }
}

.heroContentRight {
    flex: 1;
    @include flex-center;
    min-height: 200px;
}

.imageWrapper {
    position: relative;
    width: 644px;
    height: 322px;
}

.heroImage {
    object-fit: contain;
}

.heroActions {
    margin-top: 44px;
    margin-bottom: 44px;
    @include flex-center;
    width: 100%;
}

.mainTitleBlock {
    @include container;
    padding: 0 1rem 1rem;
    display: flex;
    justify-content: space-between;
    min-height: 80px;
}

.watermarkWrapper {
    display: flex;
    align-items: center;
    gap: 3.75rem;
}

.decorationRectangle {
    position: relative;
    width: 51.5625rem;
    height: 11.4375rem;
}

.decorationImage {
    object-fit: contain;
}

.mainTitleH1 {
    font-family: $font-roboto;
    font-weight: 400;
    font-size: var(--font-size-3xl, 56px);
    line-height: 54px;
    letter-spacing: 2px;
    color: rgba(33, 38, 49, 0.70);
    margin: 0;
    max-width: 25rem; 
    text-align: left;
}

.browseButton {
    color: #FFF;

    /* button */
    font-family: $font-rubik;
    font-size: 18px;
    font-weight: 500;
    width: 244px;
    height: 58px;
    padding: 18px 20px;
    border-radius: 20px;
    background: #212631;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
}