@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.section {
    padding: 80px 0;
    background-color: transparent;
    display: flex;
    justify-content: center;
}

.container {
    @include container;

    background: #F5F6FA;
    border-radius: 129px;
    padding: 80px 114px 0; 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.header {
    width: 100%;
    margin-bottom: 44px; 
}

.titleWrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
    justify-content: flex-start;
}

.title {
    margin: 0;
    position: relative;
}

.badge {
    padding: 4px 16px;
    border: 1px dashed #F55;
    border-radius: 20px;
    transform: rotate(17.83deg);
    position: absolute;
    top: -20px;
    left: 350px;
}

.badgeText {
    font-size: 14px;
    color: #F55;
    font-weight: 400;
}

.eventsListContainer {
    width: 100%;
    overflow-y: auto;
    height: 520px; 
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        display: none;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;

}

.eventsList {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.scrollBtn {
    margin: 40px auto 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
    padding: 8px;
    color: #000;

    &:hover {
        transform: translateY(4px);
    }

    svg {
        display: block;
    }
}