@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.nav {
    display: flex;
    align-items: center;
}

.navList {
    @include flex-center;
    gap: 2.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navLink {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-size: 15px;
    font-weight: 700;
    color: $color-black;
    @include transition-standard;
    cursor: pointer;

    &:hover {
        color: $color-gray;
    }
}