@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.container {
  @include container;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.section{
    padding: 60px 0;
    margin-bottom: 40px;
}

.scrollWrapper {
  width: 100%;
  overflow-x: hidden; 
  position: relative;
  
}

.blogList {
  display: flex;
  flex-direction: row; 
  flex-wrap: nowrap;   
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
  
}

.infoBadge{
    color: $color-accent;
}

.linkIcon{
    position: absolute;
    bottom: 3px;
    left: 3px;
    width: 78px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.2s ease;

    // &:hover {
    //     transform: scale(1.05);
    // }

}

.iconHelpBtn{
    width: 45px;
    height: 45px;
}


.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}